LICENSE_PEPPER=replace-with-at-least-32-characters
LICENSE_SESSION_SECRET=replace-with-at-least-32-characters
LICENSE_RECORDS_JSON=[]
ADMIN_TOKEN=replace-with-at-least-32-characters
WORKER_TOKEN=replace-with-at-least-32-characters
LICENSE_TOKEN_TTL_SECONDS=2592000
MIN_PAYOUT_UNITS=1000000
DORMANT_AFTER_MS=31536000000
QONVERSION_SECRET_KEY=
QONVERSION_ENTITLEMENT_IDS=pro,farm
